[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.1"
djangorestframework = "==3.12.4"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.12"
